button,
input[type="submit"] {
  cursor: pointer;
  margin: 0.1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

div {
  background-color: rgba(255, 255, 255, 0.8);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

p button {
  padding: 15px;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  header nav {
    text-align: center;
  }

  th {
    display: none;
  }

  td {
    content: attr(data-label);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}